body { 
  display: block;
  font-size: medium;
  font-family: 'Segoe UI';
  margin-top: 200px;
  background-color: lightgray;
  text-align: center;
}
.dayLight {
  background-color: lightgreen;
  text-align: center;
  background-size: auto;
  height:200px;
}


